<div class="card-container">
  <div class="page-header">
    <h3>Dashboard</h3>
  </div>
  <div class="daily-stats">
    <mat-card class="total">
      <p class="label">Total Orders</p>
      <h3 class="count">43</h3>
    </mat-card>
    <mat-card class="out-for-delivery">
      <p class="label">Out for Delivery</p>
      <h3 class="count">10</h3>
    </mat-card>
    <mat-card class="pending">
      <p class="label">Pending Orders</p>
      <h3 class="count">07</h3>
    </mat-card>
    <mat-card class="canceled">
      <p class="label">Canceled Orders</p>
      <h3 class="count">04</h3>
    </mat-card>
  </div>

  <h3 class="section-title">Top Selling Items</h3>
  <mat-card>
    <mat-list class="top-selling-list">
      <mat-list-item>
        <div class="list-text">
          <span>
            <div mat-line>Egg and Toast</div>
            <div mat-line>Deliciuos egg with toast</div>
          </span>
          <p>12 Orders</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="list-text">
          <span>
            <div mat-line>Egg and Toast</div>
            <div mat-line>Deliciuos egg with toast</div>
          </span>
          <p>12 Orders</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="list-text">
          <span>
            <div mat-line>Egg and Toast</div>
            <div mat-line>Deliciuos egg with toast</div>
          </span>
          <p>12 Orders</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="list-text">
          <span>
            <div mat-line>Egg and Toast</div>
            <div mat-line>Deliciuos egg with toast</div>
          </span>
          <p>12 Orders</p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
