<div class="banner">
  <img src="../../../assets/images/banner.webp" style="width:100%;" alt="" />
</div>
<div class="card-container">
  <mat-card>
    <div class="restaurant-header">
      <h2>4th Street Pizza</h2>
      <div class="restaurant-details">
        <div class="rating">
          <mat-icon color="primary">star</mat-icon>
          <span><b>3.5</b> / 5.0 (39)</span>
        </div>
        <button routerLink="/menu" mat-flat-button color="primary">
          <mat-icon>local_dining</mat-icon> See Menu
        </button>
      </div>
    </div>
    <div class="restaurant-banner-message">
      <p>This is a simple placeholder for restaurant banner message</p>
    </div>
    <div class="restaurant-menu">
      <p>Breakfast - Dinner - Lunch - Specials - Beverages - Deals</p>
    </div>
    <div class="restaurant-hours">
      <h3>Opens</h3>
      <p>12:00 am - 11:59 pm</p>
      <h3>Delivery Hours</h3>
      <p><b>Mon - Fri </b> 12:00 am - 11:59 am</p>
      <p><b>Sat - Sun </b> 12:00 am - 3:00 am</p>
      <p><b>Delivery Charges: </b> 10.00</p>
    </div>
  </mat-card>
  <div class="footer">
    <p style="text-align:center">
      <a href="">Contact Us</a>
      <a href="">Help Center</a>
    </p>
  </div>
</div>
