<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <ul role="list">
      <li role="listitem">
        <a routerLink="" (click)="drawer.toggle()"
          ><mat-icon>dashboard</mat-icon> Home</a
        >
      </li>
      <li role="listitem">
        <a routerLink="/menu" (click)="drawer.toggle()"
          ><mat-icon>local_dining</mat-icon> Menu</a
        >
      </li>
      <li role="listitem">
        <a routerLink="/about" (click)="drawer.toggle()"
          ><mat-icon>list</mat-icon> About</a
        >
      </li>
      <li role="listitem" (click)="drawer.toggle()">
        <a routerLink="/profile"><mat-icon>account_circle</mat-icon> Profile</a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Kalpasi</span>
      <a routerLink="/cart"
        ><mat-icon>shopping_cart</mat-icon><span class="cart-count">3</span></a
      >
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
