.mat-table {
  width: 100%;
}
.page-header {
  margin-bottom: 10px;
}
.mat-card {
  margin-bottom: 10px;
}
.profile-info {
  p {
    margin-top: 5px;
  }
  .edit-profile {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
