/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-deep-orange);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-blue-grey);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

body {
  height: 100%;
  background: #e4e3e3 !important;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-list {
  background: #fff !important;
}
.mat-form-field {
  width: 100%;
}
.button-group {
  display: flex;
  justify-content: flex-end;
}
.card-container {
  padding: 10px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }
}
.mat-drawer-container {
  height: 100vh;
  background: transparent;
  .mat-drawer {
    width: 250px;
    ul {
      list-style: none;
      padding-left: 30px;
      li a {
        display: flex;
        padding: 15px 0;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
        .mat-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
.mat-chip {
  &.mat-standard-chip {
    background: #cecccc;
  }
}
.mat-chip-list-wrapper {
  overflow-y: auto !important;
  flex-wrap: nowrap !important;
}
.cart-options-container {
  padding: 10px 0;
  .cart-options {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .cart-options-title {
      margin: 0;
      padding: 3px 0;
    }
    .cart-options-details {
      margin: 0;
    }
    .cart-options-total {
      margin: 0;
    }
  }
  .cart-options-additional-items {
    h4 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tag {
        font-size: 0.8rem;
        font-weight: normal;
        &.optional {
          color: #9e9c9c;
        }
        &.required {
          color: red;
        }
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
    }
    .mat-radio-group {
      display: flex;
      flex-direction: column;
      .mat-radio-button {
        margin-bottom: 10px;
      }
      .mat-radio-label-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
    }
    .mat-checkbox-container {
      display: flex;
      flex-direction: column;
      .mat-checkbox {
        margin-bottom: 10px;
      }
      .mat-checkbox-layout {
        width: 100%;
      }
      .mat-checkbox-label {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
    }
    .mat-option-text {
      display: flex;
      justify-content: space-between;
      padding-right: 25px;
    }
  }
  .cart-options-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cart-item-counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      padding-right: 25px;
      p {
        text-align: center;
        margin: 0;
      }
    }
    .cart-button-container {
      flex: 2;
      display: flex;
      justify-content: space-between;
      // .add-to-cart-btn {
      //   display: block;
      //   width: 100%;
      // }
    }
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
  &-title {
    margin: 0;
    padding: 3px 0;
  }
  &-details {
    margin: 0;
  }
  &-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .cart-item-price {
      margin: 0;
      font-weight: 500;
    }
    .cart-item-counter2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}
