<mat-form-field appearance="outline">
  <mat-label>Menu</mat-label>
  <select matNativeControl>
    <option value="Breakfast">Breakfast</option>
    <option value="Chinies">Chinies</option>
    <option value="Drinks">Drinks</option>
    <option value="Icecreem">Icecreem</option>
  </select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Item Name</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Amount</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Text</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>
<div mat-dialog-actions class="button-group">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close color="primary">Add</button>
</div>
