<div class="card-container">
  <div class="page-header">
    <h3>Menu</h3>
  </div>
  <div class="manu-tags">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>Breakfast</mat-chip>
      <mat-chip>Dinner</mat-chip>
      <mat-chip>Lunch</mat-chip>
      <mat-chip>Specials</mat-chip>
      <mat-chip>Beverages</mat-chip>
      <mat-chip>Deals</mat-chip>
    </mat-chip-list>
  </div>

  <div class="menu-items">
    <mat-card class="menu-item">
      <div>
        <h4 class="menu-item-title">Egg and Toast</h4>
        <p class="menu-item-details">Deliciuos egg with toast</p>
        <p class="menu-item-price">740.00</p>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="openCartOptions()">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="menu-item">
      <div>
        <h4 class="menu-item-title">Egg and Toast</h4>
        <p class="menu-item-details">Deliciuos egg with toast</p>
        <p class="menu-item-price">740.00</p>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="openCartOptions()">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="menu-item">
      <div>
        <h4 class="menu-item-title">Egg and Toast</h4>
        <p class="menu-item-details">Deliciuos egg with toast</p>
        <p class="menu-item-price">740.00</p>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="openCartOptions()">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="menu-item">
      <div>
        <h4 class="menu-item-title">Egg and Toast</h4>
        <p class="menu-item-details">Deliciuos egg with toast</p>
        <p class="menu-item-price">740.00</p>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="openCartOptions()">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
